body {
    font-family: Arial, Helvetica, sans-serif;
    background: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px black(0,0,0,0.15);
    width: 400px;
}
h2 {
    text-align: center;
    margin-bottom: 18px;
    color: blue;
}
form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
label{
    font-weight: bold;
    color: rgb(44, 65, 65);
}
imput {
    padding: 10px;
    background: blue;
    color: azure;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}
button:hover {
    background: blue;
}
.resultado {
    margin-top: 18px;
    padding: 12px;
    border-radius: 8px;
    font-size: 15px;
}
.aprobado {
    background: greenyellow;
    color: green;
    border: 1px solid red;
}